.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 300px 150px;
    background-color: rgb(247, 247, 248);
    gap: 0% 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    list-style: none;
    grid-template-areas:
      "footer1 footer1 footer1 footer1"
      "footer2 footer3 footer4 footer5"
      "footer6 footer6 footer6 footer6";
      
      li {
    margin: 15px;
  }
  
  .footer1 {
    grid-area: footer1;
    background-color: rgba(187, 187, 165, 0.229);
  
  }
  
  
  .footer2 {
    grid-area: footer2;
    text-align: center;
    align-items: center;
  
  }
  
  .footer3 {
    grid-area: footer3;
    text-align: center;
  }
  
  .footer4 {
    grid-area: footer4;
    text-align: center;
  }
  
  .footer5 {
    grid-area: footer5;
    text-align: center;
  }
  
  
  .footer6 {
    grid-area: footer6;
    align-items: center;
    justify-content: center;
    text-align: center;
    img {
        grid-area: footer6;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
  }
 }

 @media (max-width: 700px) {

    h1,
    a {
  
      font-size: 23px;
    }
  
    .header nav {
      font-size: 15px;
      display: block;
  
    }

  
    .header nav ul {
      display: flex;
      text-align: right;
      justify-content: space-evenly;
    }
  
    .header nav ul li a {
      font-size: 15px;
    }
  
    .header nav a img {
      width: 300px;
      justify-content: space-evenly;
  
    }
  
    .grid, .grid1, .remera, .remeras2 {
      display: block;
    }
  
    .container {
      width: 50px;
      height: 800px;
    }
  
    .info {
      display: none;
    }
  
    .form {
      width: 100%;
      pad: 30px;
    }

    .footer{
     .footer2 .footer3 .footer4 .footer5 {
            font-size: 10px;
        }
        .footer1 {
            font-size: 30ppx;
        }
        h3{
            font-size: 18px;
        }
    }
  }