.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(187, 187, 165, 0.229);


    a img {
        width: 200px;
        justify-content: center;
        text-align: center;
    }

    .banner-promo img {
        width: 100vw;
    }



    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;


        
            a {

                padding: 0 1rem;
                text-align: right;
                text-decoration: none;
                color: black;

                &:hover {
                    background-color: rgba(129, 107, 107, 0.776);
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    transition: all .4s;
                }
            }

        


    }
}