.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(187, 187, 165, 0.229);

    a img {
        width: 200px;
        justify-content: center;
        text-align: center;
        animation-name: mover;
        animation-duration: 4s;
    }

    @keyframes mover{

        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0);
        }
        
    }

    .banner-promo img {
        width: 100vw;
    }




    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;


        
            a {

                padding: 0 1rem;
                text-align: right;
                text-decoration: none;
                color: black;

                &:hover {
                    background-color: rgba(129, 107, 107, 0.776);
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    transition: all .4s;
                }
            }

        


    }
}

@media (max-width: 428px) {

    h1,
    a {
  
      font-size: 23px;
    }
  
    .header nav {
      font-size: 15px;
      display: block;
  
    }

  
    .header nav ul {
      display: flex;
      text-align: right;
      justify-content: space-evenly;
    }
  
    .header nav ul li a {
      font-size: 15px;
    }
  
    .header nav a img {
      width: 300px;
      justify-content: space-evenly;
  
    }
  }